<div class="row">
    <div class="col-md-12 content-nav">
        <nav class="navbar">
            <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <% if (cookie) { %>
                            <li><a href="/profile/<%=user.login%>">Мой профиль</a></li>
                            <li><a href="/images/<%=user.login%>">Мои картинки</a></li>
                            <li><a href="/albums/<%=user.login%>">Мои альбомы</a></li>
                            <li><a href="/liked/<%=user.login%>">Понравившиеся</a></li>
                        <% } else { %>
                            <li><a href="/register">Зарегистрироваться</a></li>
                            <li><a href="/restore">Восстановить пароль</a></li>
                        <% } %>
                        <li><a href="/about">О нас</a></li>
                        <li><a href="/rules">Правила сайта</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a id='login-logout-btn' href="/login"><span class="glyphicon glyphicon-log-in"></span> <span id='login-logout-text'><%= cookie ? "Выход" : "Вход"%></span></a></li>
                    </ul>
            </div>
        </nav>
    </div>
</div>